{% extends 'Inventory/base.html' %}

{% block content%}
<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">Customer Order</h1>
      <div class="dark">
        <form class="quote" method="post" action="/insert/">
          {% csrf_token %}
          <div>
            <label>Created</label><br>
            <input name="Create_val" id="date" type="text" placeholder="MM/DD/YYYY" >
          </div>
          <div>
            <label>Customer Name</label><br>
            <input name="Customer_Name" type="text" placeholder="Name" >
          </div>
          <div>
            <label>Reference Order</label><br>
            <input name="Reference_Order" type="text" placeholder="Reference Order No.">
          </div>
          <div>
            <label>Products</label><br>
            <input Name="Products" type="text" placeholder="Product Name" >
          </div>
          <button name="insert" class="button_1" type="submit" value="OK">Insert</button>
        </form>
      </div>
    </article>
  </div>
</section>
{% endblock %}
