{% extends 'Inventory/base.html'%}

{% block content%}
<section id="main">
  <div class="container">
    <article id="mail-col">
      <h1 class="page-title">Inventory Table</h1>
      <table class="content-table">
        <thead>
          <tr>
            <th>Order</th>
            <th>Created</th>
            <th>Customer Name</th>
            <th>Reference Order</th>
            <th>Products</th>
          </tr>
        </thead>
        <tbody>

          {% for s in storage%}
          <tr>
            <td>{{s.id}}</td>
            <td>{{s.created}}</td>
            <td>{{s.customer_name}}</td>
            <td>{{s.reference_order}}</td>
            <td>{{s.products}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>
  </div>
</section>
<section id="newsletter">
  <div class="container">
    <h1>Subscribe for newsletters</h1>
    <form method="post" action="/submit/">
      {% csrf_token %}
      <input name="email" type="email" placeholder="Enter Email...">
      <button type="submit" class="button_1">Subscribe</button>
    </form>
  </div>
</section>
{% endblock %}
